<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>El nombre del familiar es {{information_family.name}}</h1>
    <h1>La edad de {{information_family.name}} es {{information_family.age}}</h1>  
    <h1>{{information_family.name}} tiene fecha para renovar el registro el {{information_family.creation_date}}</h1>  
</body>
</html>